#root {
  margin: 0 auto;
  text-align: center;
}

.container{
  position: relative;
  display: flex;
  align-items: start;
  align-content: center;
  margin: auto;

}

.back {
  height: 135px;
  width: 100%;
  position: absolute;
  object-fit: cover;
}

h1 {
  font-size: 60px;
  font-family: 'Staatliches', cursive;
  position: relative;
  margin: 0 auto;
  background: linear-gradient(0.9turn,#bc4e9c,#f80759);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}